@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap');

:root {
    --white:#fff;
    --black: #1c2b2d;
    --section: #5D6D7E;
    --background: #1D1061;
    --color-right: #8E44AD;
    --color-left: #2874A6;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
    --radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--black);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro';
    color: var(--white);
}

h1{
    color: var(--white);
    padding: 1rem;
    font-size: 35px;
    font-family: 'Fascinate';
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: var(--color-right); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.display{
    background-color: var(--section);
    margin: 0 auto;
    width: 96%;
    height: 40px;
    font-size: 20px;
    text-align: left;
    border-radius: var(--radius);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

#max{
    margin-left: 5px;
}

#min{
    margin-right: 5px;
}

.range-value{
    display: flex;
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 5px ;
    color: var(--white);
}

h3{
    padding-right: 8px;
    margin-left: 1rem;
}

.selectArea{
    margin: 0px 5px 12px 5px;
    background-color: var(--section);
    color: inherit;
    padding: 1.6rem;
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: inherit;
}

.btn{
    margin: 0 auto;
    margin-top: 15px;
    padding: 1.3rem;
    width: 100%;
    border-radius: var(--radius);
    outline: none;
    border: none;
    font-size: 20px;
    font-family: inherit;
    color: var(--white);
    background-image: linear-gradient(to right, var(--color-left) , var(--color-right));
}


#range{
    width: 100%;
    cursor: pointer;
    background-color: grey;
}
 
input[type="checkbox"]{
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    background-color: var(--black);
    border-radius: 30px;
    transition: .2s; 
    cursor: pointer;
}

input:checked[type="checkbox"]{
    background: var(--color-left);
}

input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width:30px;
    height: 30px;
    border-radius: 50%;
    top:0;
    left:0;
    background: #fff;
    transform: scale(1.1);
    transition: .2s;
} 

input:checked[type="checkbox"]:before{
    left: 50%;
}